	body{
		background: url('https://images.unsplash.com/photo-1614853316862-18864a7cb288?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
		background-size: cover;
	}

	h1 {
		color: orangered;
		font-size: 45px;
	}

	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 52px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
		color: black;
	}


	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid dodgerblue;
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: dodgerblue;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: dodgerblue;
		font-size: 40px;
	}


	#main {
		text-align: center;
	}


	#ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: dodgerblue;
		font-size: 23px;
	}

